body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0rem;
  color: #141414;
  /*margin-bottom: 1000px; Isso aqui ficou o trablaho todo para dar uma melhorada na hora de fazer as coisas aí no final se tira ela*/
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto; /*Não esmaga a imgaem lá no fim do bagulho*/
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important; /*O importante vai escrever primeiro que todas as outras coisas, assim mantendo o "subtitulo formação" no tamanho correto após os 800px*/
  }
}
